@*Contributor: Calvin C*@
@{
    ViewData["Title"] = "Welcome to Travel Experts!";
}

<body>
    <div class="container mt-5">
        <div class="bg-image2"></div>
        <div class="overlay2"></div>
        <div class="jumbotron text-center" style="color: white;">
            <h1 class="display-4">Welcome to Travel Experts!</h1>
            <p class="lead" style="font-size: 32px;">Thank you for registering with us!</p>
            <hr class="my-4">
            <p>Get ready to embark on thrilling adventures and explore the world with Travel Experts! We are excited to have you on board. </p>
            <a class="btn btn-outline-light btn-lg" href="@Url.Action("Index", "Packages")" role="button">Start Exploring</a>
        </div>
    </div>
</body>
