@* Written by Keegan *@

@{
    ViewData["Title"] = "ThankYou";
}

<div class="contianer-fluid text-center">
	<p class="display-4">Thank You</p>

	<br />

	<p>
		Thank you for booking with us!<br />
	    You may review your information under <a asp-controller="Bookings" asp-action="MyBookings" class="text-dark">My Bookings</a>.
    </p>

	<br />

	<a class="btn btn-outline-dark rounded-0" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
